/********* BODY *********/
html{font-family: Arial, Helvetica, sans-serif;
cursor:crosshair;
background-image: url(../assets/images/NUBE\ 2.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed

}

/******** main   ********/
p {
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5em;
    text-shadow: 4px 4px 4px #000000;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 3em;
    margin-top: 0.5em;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
        
    }
    
h2{
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    margin-top: 0.5em;
    text-shadow: 2px 2px 4px #000000;
}

h3{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0.5em;
    text-shadow: 2px 2px 4px #000000;
}

h4{
    color: #fff;
    text-align: center;
    font-size: 1.9em;
    margin-top: 0.5em;
    text-shadow: 2px 2px 4px #000000;
}

h5{
    color: #fff;
    text-align: center;
    font-size: 1em;
    margin-top: 0.5em;
    text-shadow: 2px 2px 4px #000000;
}

